contact/__pycache__/*
contact/migrations/__pycache__/*
core/__pycache__/*
fu5ion_museosbit/__pycache__/*
museos/__pycache__/*
museos/migrations/__pycache__/*
museos/templatetags/__pycache__/*
profiles/__pycache__/*
profiles/migrations/__pycache__/*
registration/__pycache__/*
social/__pycache__/*
social/migrations/__pycache__/*
.vscode/settings.json
contact/__pycache__/__init__.cpython-37.pyc
contact/__pycache__/__init__.cpython-37.pyc
fu5ion_museosbit/__pycache__/settings.cpython-37.pyc
museos/__pycache__/apps.cpython-37.pyc
registration/__pycache__/__init__.cpython-37.pyc
social/__pycache__/__init__.cpython-37.pyc
social/__pycache__/apps.cpython-37.pyc
