{% extends 'core/base.html' %}
{% load static %}
{% block title %}Recorridos{% endblock %}
{% block content %}  
  <main class="mainmapa">
        <!--PAGE TITLE
            =========================================================================================================
        <section id="page-title">
            <div class="container">
                <div class="d-block d-sm-flex justify-content-between">
                    <div class="ts-title mb-0">
                        <h1>Circuito de ómnibus para Museos en la Noche </h1>  
                    </div>
                </div>
            </div>
        </section>-->
        <div class="row">
            <div class="col-md-9">
                <iframe src="https://www.google.com/maps/d/embed?mid=1OQTYpaudBrkVuHN7zCGaSk1c7nDwM_NV&z=12" width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"    ></iframe>
            </div>
            <div class="col-md-3"  style="height: 540px;overflow-y: auto;margin-top: 60px;">
                <h2 class="text-important">Recorrido Bus Ruta M-A</h2>
                <ul style="list-style: none">
                    <li><span class="badge bg-primaryA text-white p-r-5">1</span> Av. 18 de Julio 1360</li>
                    <li><span class="badge bg-primaryA text-white p-r-5">2</span> Av. Julio Herrera y Reissig </li>
                    <li><span class="badge bg-primaryA text-white p-r-5">3</span> M.J. Errazquin</li>
                    <li><span class="badge bg-primaryA text-white p-r-5">4</span> Rbla. Pte. Charles De Gaulle</li>
                    <li><span class="badge bg-primaryA text-white p-r-5">5</span> Rambla República de Chile </li>
                    <li><span class="badge bg-primaryA text-white p-r-5">6</span> 4 de Julio</li>
                    <li><span class="badge bg-primaryA text-white p-r-5">7</span> Av. Dr. Américo Ricaldoni </li>
                    <li><span class="badge bg-primaryA text-white p-r-5">8</span> Av. 18 de Julio 1360</li>
                </ul>
                <hr>
                <h2 class="text-important">Recorrido Bus Ruta M-B</h2>
                <ul style="list-style: none">
                    <li><span class="badge bg-primaryB text-white p-r-5">1</span> Av. 18 de Julio 1402-1426</li>
                    <li><span class="badge bg-primaryB text-white p-r-5">2</span> Miguelete</li>
                    <li><span class="badge bg-primaryB text-white p-r-5">3</span> Av Millán</li>
                    <li><span class="badge bg-primaryB text-white p-r-5">4</span> Gral.Haig</li>
                    <li><span class="badge bg-primaryB text-white p-r-5">5</span> Av. de las Instrucciones</li>
                    <li><span class="badge bg-primaryB text-white p-r-5">6</span> Av. Agraciada 3691</li>
                    <li><span class="badge bg-primaryB text-white p-r-5">7</span> Av. 18 de Julio 1402-1426</li>
                </ul>
            </div>
        </div>
        <!--GALLERY CAROUSEL
            =========================================================================================================
        <section id="gallery-carousel">
            <div class="owl-carousel ts-gallery-carousel ts-gallery-carousel__multi" data-owl-dots="1" data-owl-items="3" data-owl-center="2">


                <div class="slide">
                    <div class="ts-image" data-bg-image="{% static 'core/img/recorrido1.png' %}">
                        <a href="{% static 'core/img/recorrido1.png' %}" class="ts-zoom popup-image"><i class="fa fa-search-plus"></i>Zoom</a>
                    </div>
                </div>
                <div class="slide">
                    <div class="ts-image" data-bg-image="{% static 'core/img/recorrido2.png' %}">
                        <a href="{% static 'core/img/recorrido2.png' %}" class="ts-zoom popup-image"><i class="fa fa-search-plus"></i>Zoom</a>
                    </div>
                </div>

                <div class="slide">
                    <div class="ts-image" data-bg-image="{% static 'core/img/recorrido3.png' %}">
                        <a href="{% static 'core/img/recorrido3.png' %}" class="ts-zoom popup-image"><i class="fa fa-search-plus"></i>Zoom</a>
                    </div>
                </div>

                <div class="slide">
                    <div class="ts-image" data-bg-image="{% static 'core/img/recorrido4.png' %}">
                        <a href="{% static 'core/img/recorrido4.png' %}" class="ts-zoom popup-image"><i class="fa fa-search-plus"></i>Zoom</a>
                    </div>
                </div>
            </div>
        </section>
    -->
    </main>
    <style>
        #ts-footer{
            margin-top: -5px;
        }
    </style>
   {% endblock %}

    